html, body {
  max-height: 100vh;
  overflow: hidden;
  margin:0;
  padding: 0;
}

body {
  font-size: 16px;
}

body * {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}



.messaging-outer {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  /* height: calc(var(--vh, 1vh) * 100); */
  height: var(--vertical-height, 100vh);
}

#myapp > header .inner {
  max-width: 1220px;
}

.messaging-outer {
  max-width: 1240px;
}

.messaging-outer {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  /* border-top: 1px solid rgba(0,0,0,.3); */
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
}

.messaging-right {
  flex: 1;
  /* max-width: 661px; */
  border-right: 1px solid rgba(0,0,0,.3);
}

.messaging-left {
  /* flex: 0 0 20%; */
  min-width: 280px;
  /* max-width: 300px; */
  flex: none;
}


.messaging-left,
.messaging-right {
  overflow:hidden;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 55px);
  border-left: 1px solid rgba(0,0,0,.3);
}

@media screen and (max-width: 900px) {

  .messaging-outer {
    justify-content: flex-start;
  }

}

@media screen and (max-width: 640px) {

  #myapp > header {
    display: none;
  }

  #myapp > main {
    margin-top:0;
  }

  body.channel #myapp > footer {
    display: none;
  }

  .messaging-left,
  .messaging-right {
    transition: .24s ease-in-out transform;
  }

  body.list .messaging-outer .messaging-left,
  body.list .messaging-outer .messaging-right {
    transform: translate(0);
  }

  body.channel .messaging-outer .messaging-left,
  body.channel .messaging-outer .messaging-right {
    transform: translate(-100vw);
  }

  .messaging-left,
  .messaging-right {
    flex: 0 0 100%;
    width: 100vw;
  }

  .messaging-right .iphone-fixed-height {
    position: fixed;
    width: 100vw;
    top:var(--offset-height);
  }

  .messaging-right .middle {
    padding-top:var(--iphone-fixed-height, 0) !important;
  }

  .messaging-left,
  .messaging-right {
    overflow:hidden;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    /* height: calc(var(--vh, 1vh) * 100); */
    height: var(--vertical-height, 100vh);
  }

}

.messaging-left .top,
.messaging-right .top {
  padding: 1rem;
  background-color: beige;
  border-bottom: 1px solid rgba(0,0,0,.3);
}
.messaging-left .middle,
.messaging-right .middle { 
  flex: 1;
  overflow: auto;
  padding: 1rem;
  font-weight: 300;
  background-color:aliceblue;
}

.messaging-left .middle div:hover {
  background-color: aquamarine;
}

.messaging-left .middle div.clicked {
  background-color: aquamarine;
}

.messaging-left .middle div {
  cursor: pointer;
  padding: .4em 1.1em;
  align-items: center;
}

.messaging-left .middle div > * {
}

.messaging-left .middle div:before {
  content:"⌛";
  font-size: 24px;
  width: min-content;
  height: min-content;
  display: inline-block;
  border: 1px solid rgba(0,0,0,.3);
  padding: .1em;
  margin-right: .5em;
}

.messaging-right .bottom { 
  padding: 10px;
  background-color: bisque;
}

.messaging-right .bottom {
  position: relative;
  border-top: 1px solid rgba(0,0,0,.3);
}

/* THESE ARE NOT IMPORTANT CLASSES... JUST FOR DEMO AND MY SANITY */

.messaging-right .bottom textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 6em;
  padding: .5em;
  font-size: 16px;
}

.messaging-right .bottom button {
  position: absolute;
  right: 19px;
  top: 50%;
  margin: -40px 0 0 0;
  height: 78px;
}

.messaging-right .top {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 641px) {
  .messaging-right .top button {
    display: none;
  }
}


.messaging-left .middle {
  padding: 0;
}